rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{UserName} {
    allow read;
    }
    match /GovernanceRuleBank/{RuleDescription} {
    allow read;
    }



  }
}
